<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .header{
            width:100%;
            background-color: deepskyblue;
            line-height:70px;
            padding:5px;
        }
    </style>
</head>

<body>
<h2 class="header">老男孩图书管理系统登录页面：</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="/login/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">用户名：</label>
                    <input type="text" name="user" class="form-control">

                </div>
                <div class="form-group">
                    <label for="">密码：</label>
                    <input type="password" name="pwd" class="form-control">
                </div>
                <button class="btn btn-success pull-right">提交</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>